<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <VersionOneConnection>
    <Host>http://domen/VersionOne/</Host>
    <UserName>admin</UserName>
    <Password>admin</Password>
    <IntegratedAuth>true</IntegratedAuth>
  </VersionOneConnection>
  <ReferenceFieldName>Reference</ReferenceFieldName>
  <FailedStatusOid>TestStatus:155</FailedStatusOid>
  <PassedStatusOid>TestStatus:129</PassedStatusOid>
  <ChangeComment>test comment</ChangeComment>
  <DefectDescriptionSuffix>Created by TestComplete 8</DefectDescriptionSuffix>
  <CreateDefectMode>None</CreateDefectMode>
</configuration>