<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <VersionOneConnection>
    <!-- URL to VersionOne server. -->
    <Host>http://integsrv01/VersionOneTest/</Host>
    <!-- User name -->
    <UserName>admin</UserName>
    <!-- Password -->
    <Password>admin</Password>
    <!-- Use integrated authentication -->
    <IntegratedAuth>false</IntegratedAuth>
  </VersionOneConnection>
  <!-- Field name for connecting test in VersionOne and test in TestComplete -->
  <ReferenceFieldName>Reference</ReferenceFieldName>
  <!-- Oid for Failed test status -->
  <FailedStatusOid>TestStatus:155</FailedStatusOid>
  <!-- Oid for Passed test status -->
  <PassedStatusOid>TestStatus:129</PassedStatusOid>
  <!-- Commentary for actions  -->
  <ChangeComment>test comment</ChangeComment>
  <!-- Additional info to VersionOne defect description -->
  <DefectDescriptionSuffix>Created by TestComplete 8</DefectDescriptionSuffix>
  <!-- Create defect mode for closed tests:
          None              - don't create defect 
          All               - always create
          CurrentIteration  - create defect only for test in currect iteration
          -->
  <CreateDefectMode>All</CreateDefectMode>
</configuration>